.checkout-cart {
  .login {
    float: left;

    header {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 30px;
    }
  }

  .welcome {
    text-align: center;
    font-size: 18px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
