.checkout-shipping {
  header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -7px;
  }

  .form {
    float: left;

    form {
      .option {
        label {
          width: 300px;

          .name {
            font-weight: bold;
          }

          .cost {
            float: right;
          }

          .description {
            display: block;
            font-size: 14px;
            color: #503f29;
          }
        }
      }
    } // form
  } // .content
}
