{{#if currentUser.email}}
{{else}}
  <div class="login">
    <header>Zaloguj się i kupuj!</header>
    <div data-subview="login-form"></div>
  </div>
{{/if}}

<button class="next-step btn" data-role="next-cart">Dalej</button>
