{{#if currentUser.email}}
{{else}}
  <div class="login">
    <header>Zaloguj się i kupuj!</header>
    <div data-subview="login-form"></div>
  </div>
{{/if}}

<div {{#if currentUser.email}}class="left"{{else}}class="right"{{/if}}>
  <div data-subview="cart"></div>
</div>

<button class="next-step btn" data-role="next-cart">Dalej</button>
