{{#unless currentUser.email}}
  <div class="login">
    <header>Zaloguj się i kupuj!</header>
    <div data-subview="login-form"></div>
  </div>
{{/unless}}

<div {{#if currentUser.email}}class="center"{{else}}class="right"{{/if}}>
  <div data-subview="cart"></div>

  <div class="buttons">
    {{#if currentUser.email}}
      <button class="with-account btn" data-action="proceed">Dalej</button>
    {{else}}
      <button class="register btn" data-role="register">Zarejestruj się</button>
      <button class="no-account btn" data-action="proceed">Kup teraz bez rejestracji</button>
    {{/if}}
  </div>
</div>

