{{#if currentUser.email}}
{{else}}
  <div class="login">
    <header>Zaloguj się i kupuj!</header>
    <div data-subview="login-form"></div>
  </div>
{{/if}}

<div {{#if currentUser.email}}class="left"{{else}}class="right"{{/if}}>
  <div data-subview="cart"></div>
</div>

<div class="buttons">
  {{#if currentUser.email}}
    <button class="with-account btn" data-role="next-cart">Dalej</button>
  {{else}}
    <button class="register btn" data-role="next-cart">Zarejestruj się</button>
    <button class="no-account btn" data-role="next-cart">Kup teraz bez rejestracji</button>
  {{/if}}
</div>
