<h1>Sposób płatności</h1>

<form class="payment">
  <ul>
    {{#each paymentMethods}}
      <li>
        <input checked type="radio" name="payment_method_id" value="{{id}}">{{name}}
      </li>
    {{/each}}
  </ul>
</form>

<button class="next-step btn" data-role="next-payment">Dalej</button>
