<div id="skrollr-body">
  <div data-subview="page-header"></div>

  <div id="content">
    <div class="content">
      <div data-subview="view-switcher"></div>
    </div>
  </div>

  <div data-subview="page-footer"></div>
</div>
