<div id="skrollr-body">
  <div data-subview="page-header" data-0="background-position:0 10px" data-end="background-position:0 300px;"></div>

  <div id="content">
    <div class="content">
      <div data-subview="view-switcher"></div>
    </div>
  </div>

  <div data-subview="page-footer" data-0="background-position:0 -300px" data-end="background-position:0 0px;"></div>
</div>
