<div class="page-background" data-parallax data-parallax-factor="1.3"></div>

<div data-subview="page-header"></div>

<div id="content">
  <div class="content">
    <div data-subview="view-switcher"></div>
  </div>
</div>

<div data-subview="page-footer"></div>
