<div class="steps">
  <ul>
    <li><a href="#" data-step="cart">1. Koszyk</a></li>
    <li><a href="#" data-step="address">2. Dane dostawy</a></li>
    <li><a href="#" data-step="delivery">3. Sposób dostawy</a></li>
    <li><a href="#" data-step="payment">4. Płatność</a></li>
    <li><a href="#" data-step="complete">5. Koniec</a></li>
  </ul>
</div>
</div>
<div class="content">
  <div data-subview="previous-view"></div>
  <div class="current-view">
    <div data-subview="current-view"></div>
  </div>
  <div class="next-view">
    <div data-subview="next-view"></div>
  </div>
</div>
