<div class="steps">
  <ul>
    <li><a href="#" data-step="cart">Koszyk</a></li>
    <li><a href="#" data-step="address">Dane dostawy</a></li>
    <li><a href="#" data-step="delivery">Sposób dostawy</a></li>
    <li><a href="#" data-step="payment">Płatność</a></li>
    <li><a href="#" data-step="complete">Koniec</a></li>
  </ul>
</div>
</div>
<div class="content">
  <div data-subview="current-view"></div>
</div>
<div data-subview="cart"></div>
<button class="next-step btn">Dalej</button>
