<div class="content">
  <div class="top">
    <h1><a href="/">Aimer</a></h1>
  </div>

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#checkout">Zamów</a></li>
    {{#if user.id}}
      <li><a href="#" data-role="logout">Wyloguj się</a></li>
    {{else}}
      <li><a href="#" data-role="login">Zaloguj się</a></li>
    {{/if}}
  </ul>
</div>
