<div class="background" data-0="transform: translate3d(0, 0px, 0)" data-end="transform: translate3d(0, 300px, 0)"></div>

<div class="content">
  <div class="about" id="about">
    <header>O nas</header>
    <p>
      Jesteśmy firmą założoną w 2013 roku przez airsoftowców.
    Po wielu dniach poszukiwań i tysiącach przetestowanych próbek
    znaleźliśmy produkt, który spełnił nasze oczekiwania.
    </p>
    <p>
      Teraz z czystym sumieniem możemy sprzedawać najwyższej
    klasy amunicję do&nbsp;replik ASG, nadającą się do luf precyzyjnych
    oraz midcapów. Działalność będzie stale rozszerzana&nbsp;tak,
    by sprostać waszym wymaganiom.
    </p>
  </div>

  <div class="contact">
    <header>Baza:</header>
    <p>
      <div class="address">
        Aimer <br />
        ul. Spokojna 15/6<br />
        30 - 054 Kraków<br />
        Poland
      </div>
      <div class="phone">+ 48 796 227 861</div>
      <a class="email" href="mailto:kontakt@aimer.pl">kontakt@aimer.pl</a>
    </p>
  </div>

  <div class="form" id="contact">
    <header>Napisz do nas!</header>
    <form class="aimer-form">
      <input type="email" placeholder="Twój e-mail" />
      <input type="text" placeholder="Temat wiadomości" />
      <div class="message">
        <textarea placeholder="Wiadomość"></textarea>
      </div>

      <button>Wyślij</button>
    </form>
  </div>
</div>

<div class="shadow">
  <div class="copyright">
    Copyright Aimer 2014
  </div>
</div>
