<div data-subview="top"></div>

<div class="background" data-parallax data-parallax-factor="2.3"></div>
<div class="content">
  <h2>
    Szukasz precyzyjnych kulek<br />
    o najwyższej jakości, gładkości i celności?
  </h2>

  <h2 class="try-our">
    Wypróbuj: <i>Dum Dum</i>
  </h2>

  <a class="buy-now" href="/" data-route>
    Zamów teraz
    <em>Wysyłka gratis od 100zł</em>
  </a>

  <blockquote class="right">
    “Dostarczoną partię oceniam<br />
     bez wahania na ocenę celującą.”

    <div class="author"><strong>Gall Anonim</strong> na <a href="http://wmasg.pl" class="source">www.wmasg.pl</a></div>
  </blockquote>
</div>
