<header>
  <h2>
    Wybierz ile kulek DUM DUM chcesz zamówić:
    <div class="hint">… lub po prostu wpisz ilość</div>
  </h2>
</header>

<ul class="products"></ul>

<div class="total">
  razem: <span>{{formatted_total}}</span>
  <a href="#checkout" class="buy-now" data-route>Kup teraz</a>
</div>
