.cart {
  overflow: hidden;

  table {
    position: relative;
    float: right;
    width: 500px;
  }

  thead {
    font-size: 14px;
    color: #503f29;
    text-align: left;

    th {
      padding-bottom: 30px;
      font-weight: normal;

      &.price, &.quantity {
        text-align: center;
      }
    }
  }

  tbody {
    padding: 2px;
    position: relative;
    counter-reset: index;

    &:before, &:after {
      content: '';
      width: 100%;
      height: 7px;
      background: asset-data-url('cart-separator.jpg');
      background-size: 100% 100%;
      display: block;
      position: absolute;
    }

    &:before {
      top: 28px;
    }

    &:after {
      bottom: 0;
    }

    tr:last-child td {
      padding-bottom: 20px;
    }

    td {
      padding-bottom: 10px;
    }

    .number {
      color: #503f29;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      padding-left: 13px;
      padding-top: 7px;

      &:after {
        counter-increment: index;
        content:counter(index) ".";
        position: relative;
        bottom: 1px;
      }
    }

    .name {
      font-weight: bold;
      font-size: 26px;

      em {
        color: #503f29;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
      }
    }

    .quantity {
      text-align: center;
      font-size: 26px;
      position: relative;

      .more, .less {
        color: #8f6e3e;
        position: absolute;
        right: -3px;
        
        height: 12px;
        font-size: 18px;
        outline: 0;
      }

      .more {
        top: 0;
      }

      .less {
        top: 12px;
      }
    }

    .price {
      font-size: 26px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: right;

      .separator-text {
        float: right;
        padding-right: 0;
        padding-left: 10px;
      }
    }

    .separator-text {
      float: left;
      display: inline-block;
      padding-right: 10px;
    }

    .separator {
      background: asset-data-url('dots.jpg') repeat-x bottom;
      height: 22px;
      overflow: hidden;
    }

    .action {
      background: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }

    .remove {
      padding-right: 5px;

      button {
        width: 10px;
        height: 12px;
        background: asset-data-url('cross.png') no-repeat;
      }
    }
  }

  .summary {
    font-size: 18px;
    float: right;
    text-align: right;
    margin-top: 20px;
    clear: both;
    position: relative;

    > strong {
      font-size: 26px;
      display: inline-block;
      position: relative;
      margin-left: 5px;
      top: 2px;

      .spinner {
        position: absolute;
        left: -95px;
        top: 1px;
        z-index: 1;
      }
    }

    .ship {
      color: #503f29;
      font-size: 14px;

      strong {
        display: block;
      }
    }
  }
}
