.checkout {
  position: relative;
  padding-top: 35px;

  .steps {
    height: 35px;
    margin-bottom: 35px;

    ul {
      list-style: none;

      li {
        display: inline-block;

        a {
          padding: 10px;
          display: inline-block;
          color: #d7c9b8;
          font-weight: bold;
          text-decoration: none;

          &.available {
            color: #6d4d2c;
          }

          &.current {
            color: #fff;
            text-decoration: underline;
          }
        }
      } // li
    } // ul
  } // .steps

  .content {
    position: relative;

    .current-view, .next-view {
      position: absolute;
      width: 100%;
    }

    .next-view {
      display: none;
    }
  }

  .btn.next-step {
    clear: both;
    float: right;
    margin-top: 20px;
  }
}

@import 'checkout/*';
