@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400italic);
@import url(//fonts.googleapis.com/css?family=Bitter:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700);

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: asset-data-url('header-bg.jpg');
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  overflow: hidden;
  font-size: 16px;
}

.page-background {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: asset-data-url('header-bg.jpg');
}

#content {
  background: asset-data-url('content-bg.png');
  z-index: 10;
  position: relative;
  padding: 20px;
  min-height: 460px;

  > .content {
    margin: 0px auto;
    max-width: 950px;
  }
}

a {
  text-decoration: none;
  color: #503f29;

  &:hover {
    text-decoration: underline;
  }
}
