@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,latin-ext);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(//fonts.googleapis.com/css?family=PT+Sans:700italic);
@import url(//fonts.googleapis.com/css?family=Bitter:700);


html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-size: 16px;
}

#content {
  background: asset-data-url('content-bg.png');
  overflow-x: hidden;
  z-index: 10;
  position: relative;

  .content {
    margin: 0 auto;
    padding: 20px 0;
    min-height: 600px;
    max-width: 950px;
  }
}

a {
  text-decoration: none;
  color: #503f29;

  &:hover {
    text-decoration: underline;
  }
}
