@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJXZ4362_PV5aPD5jU0S2ELI.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZqfTCPadK0KLfdEfFtGWCYw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400italic);
@import url(//fonts.googleapis.com/css?family=Bitter:400,700);


html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-size: 16px;
}

#content {
  background: asset-data-url('content-bg.png');
  overflow-x: hidden;
  z-index: 10;
  position: relative;
  padding: 20px;
  min-height: 460px;

  > .content {
    margin: 0px auto;
    max-width: 950px;
  }
}

a {
  text-decoration: none;
  color: #503f29;

  &:hover {
    text-decoration: underline;
  }
}
