.page-header {
  background: url('header-bg.jpg');
  height: 608px;
  width: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    height: 562px;
    background: url('header-picture.png') no-repeat 50%;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    background: url('header-bottom.png') repeat-x 50%;
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 950px;
    margin: 0 auto;
    height: 400px;

    h2 {
      font-size: 34px;
      font-weight: normal;
      text-align: center;
      margin-top: 60px;
      line-height: 48px;
    }

    h2.try-our {
      margin-top: 20px;
      line-height: 52px;
      vertical-align: middle;

      img {
        vertical-align: middle;
        margin-left: 10px;
      }
    }

    .buy-now {
      display: block;
      width: 282px;
      height: 81px;
      background: asset-data-url('header-buy-now-bg.png');
      position: absolute;
      left: 0;
      bottom: 0;
      font-family: Bitter, sans-serif;
      color: #5b3816;
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 30px;

      em {
        font-size: 15px;
        color: #84693a;
        text-transform: none;
        display: block;
        font-weight: normal;
      }

      &:hover {
        text-decoration: none;
      }
    }

    blockquote {
      font-family: PT Sans, sans-serif;
      font-style: italic;
      font-size: 24px;
      letter-spacing: 1px;
      width: 500px;
      text-align: right;
      position: absolute;
      bottom: 0px;
      right: 0;

      .author {
        font-size: 16px;
        font-family: Roboto Slab, sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0px;
        margin-top: 10px;

        a {
          color: #ffb351;
          font-weight: bold;
        }
      }
    }
  } // .content
}

@import 'page_header/*'
