.static-page {
  h1 {
    font-size: 38px;
  }

  .center {
    text-align: center;
  }

  p, dl, ol {
    max-width: 800px;
    font-size: 18px;
    line-height: 24px;
    margin: 2em 0;
  }

  p.long {
    max-width: 900px;
  }

  dt {
    width: 450px;
    float: left;
    clear: left;
  }

  dd {
    font-weight: bold;
  }

  ul.partners {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &.milcord {
        width: 354px;
        height: 90px;
        background: image-url('cooperation/milcord.png');
        text-indent: -100000px;
      }

      a {
        display: block;
        height: 100%;
      }
    }
  }
}
