.static-page {
  h1 {
    font-size: 38px;
  }

  .center {
    text-align: center;
  }

  p, dl, ol {
    max-width: 800px;
    font-size: 18px;
    line-height: 24px;
    margin: 2em 0;
  }

  p.long {
    max-width: 900px;
  }

  dt {
    width: 450px;
    float: left;
    clear: left;
  }

  dd {
    font-weight: bold;
  }

  ul.partners {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-indent: -100000px;
      display: inline-block;
      margin: 5px;
      height: 164px;
      background-position: center;
      background-repeat: no-repeat;

      &.milcord {
        width: 354px;
        background-image: image-url('cooperation/milcord.png');
      }

      &.wojskowe {
        width: 308px;
        background-image: image-url('cooperation/wojskowe.jpg');
      }

      &.redberet {
        width: 341px;
        background-image: image-url('cooperation/redberet.png');
      }

      &.sniper {
        width: 231px;
        background: image-url('cooperation/sniper.png');
      }

      a {
        display: block;
        height: 100%;
      }
    }
  }
}
