body {
  > header {
    background: asset-data-url('header-bg.jpg');
    height: 628px;

    h1 {
      margin: 0;
      padding: 0;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


#content {
  background: asset-data-url('content-bg.png');

  .checkout, .products {
    min-height: 500px;
  }

}
