<form class="aimer-form">
  <input type="email" name="email" placeholder="E-mail" />
  <input type="password" name="password" placeholder="Hasło" />
  <div class="buttons">
    <button class="btn" data-role="submit" data-action>Zaloguj się</button>
    <a class="register" href="#" data-role="register">Nie masz konta?</a>
  </div>
</form>
