<div class="overlay">
  <div class="popup">
    <header>Zaloguj się</header>
    <form class="aimer-form">
      <input type="email" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Hasło" />
      <button class="btn" data-role="submit">Zaloguj</button>
    </form>
  </div>
</div>
