<div class="overlay">
  <div class="modal">
    <header>Zarejestruj się</header>

    <form class="aimer-form">
      <input type="email" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Hasło" />
      <input type="password" name="password_confirmation" placeholder="Potwierdź hasło" />
      <button class="btn" data-role="submit">Zarejestruj</button>
    </form>
  </div>
</div>
