<div class="header">
  <h1><a href="/" data-route>Aimer</a></h1>
</div>

<div class="content">
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dlaczego DUM DUM</a></li>
    <li><a href="#">O nas</a></li>
    <li><a href="#">Współpraca</a></li>
    <li><a href="#">Regulamin</a></li>
    <li><a href="#">Kontakt</a></li>
  </ul>
</div>

<div class="submenu">
  <ul class="cart">
    <li class="cart">
    </li>
    {{#if user.id}}
      <li><a href="#" data-role="logout">Wyloguj się</a></li>
    {{else}}
      <li><a href="#" data-role="register">Zarejestruj się</a></li>
      <li><a href="#" data-role="login">Zaloguj się</a></li>
    {{/if}}
  </ul>
</div>
