<h1>Współpraca</h1>

<p>
  Zapraszamy do współpracy sklepy, organizatorów zlotów,
  właścicieli hal i poligonów oraz teamy airsoftowe z całej Polski.
  Oferując rabaty dla grup i odbiorców hurtowych sprawiamy,
  że nasza oferta stanowi niepodważalnie jedną z najlepszych na rynku.
</p>

<p>
  <strong>
    Nie czekaj, wprowadź kulki DUM DUM do oferty swojego sklepu, nim zrobi to konkurencja!
  </strong>
</p>

<h2>Nasi partnerzy: </h2>
<ul class="partners">
  <li class="wojskowe"><a href="http://wojskowe.eu">Biała Broń - militaria Łódź - salon militarny</a></li>
  <li class="sniper"><a href="http://sniper-as.de">Sniper-as.de - riesiger Softair-Shop mit günstigen Preis</a></li>
  <li class="redberet"><a href="http://redberet.pl">Sklep internetowy - airsoft, militaria, ASG - redberet.pl</a></li>
</ul>
