<h2 class="center">REGULAMIN SPRZEDAŻY PRZY WYKORZYSTANIU ŚRODKÓW POROZUMIEWANIA SIĘ NA ODLEGŁOŚĆ ORAZ ŚWIADCZENIA USŁUG DROGĄ ELEKTRONICZNĄ</h2>

<p>Niniejszy regulamin określa zasady dokonywania zakupów w sklepie internetowym prowadzonym
przez Sprzedającego pod adresem www.aimer.pl.</p>
<p>Sprzedającym jest Lucjan Suski, dostępny pod adresem Rynek 32, 38-230 Nowy Żmigród, prowadzący działalność na podstawie jednoosobowej działalności gospodarczej, podlegający wpisowi do Centralnej Ewidencji Działalności
Gospodarczej wpisany pod numerem NIP: 685-232-56-58, Regon: 181016992, zwany także zamiennie „Usługodawcą”.
Kontakt z Usługodawcą można uzyskać:
pod numerem telefonu: (13) 441 52 51
korzystając z adresu poczty elektronicznej: kontakt@aimer.pl</p>
<h3 id="1-definicje">§ 1 Definicje</h3>
<ol>
<li>Regulamin – niniejszy regulamin. W zakresie usług świadczonych drogą elektroniczną Regulamin
jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług
drogą elektroniczną (Dz.U. z 2002 r. Nr 144, poz. 1204 ze zm.).</li>
<li>Klient (Kupujący) – osoba fizyczna, która ukończyła co najmniej 13. rok życia, przy czym
w przypadku nieukończenia przez tę osobę 18. roku życia, wymagana jest zgoda jej przedstawiciela
ustawowego, a także osoba prawna oraz jednostka organizacyjna niebędąca osobą prawną,
której przepisy szczególne przyznają zdolność prawną, a która dokonuje lub zamierza dokonać
Zamówienia lub korzysta z innych usług Sklepu Internetowego (w tym również Konsument).</li>
<li>Przedmiot transakcji - Towary wymienione i opisane na stronie internetowej Sklepu
Internetowego. Sprzedający dokłada wszelkich starań, aby prezentowana na stronach oferta,
była aktualna. Gdyby jednak niektóre z Zamówionych Towarów nie były dostępne, Sprzedający
zobowiązuje się do niezwłocznego poinformowania Kupującego o zaistniałej sytuacji
telefonicznie lub drogą mailową.</li>
<li>Towar – rzecz ruchoma, której dotyczy Umowa Sprzedaży.</li>
<li>Produkt – Towary i Usługi dodatkowe prezentowane w Sklepie Internetowym.</li>
<li>Umowa Sprzedaży – umowa sprzedaży Produktów w rozumieniu ustawy Kodeks cywilny, zawierana pomiędzy Usługodawcą a Klientem, z wykorzystaniem środków porozumiewania się na odległość (w tym drogą telefoniczną).</li>
<li>Sklep intenetowy www.aimer.pl (Sklep, Sklep Internetowy) – serwis internetowy dostępny pod adresem www.aimer.pl, za pośrednictwem którego Klient może kupić Produkt.</li>
<li>Strona – Usługodawca i Klient.</li>
<li>Strona Sklepu – każda strona bądź podstrona www znajdująca się pod adresem www.aimer.pl.</li>
<li>Zamówienie – oświadczenie woli Klienta określające jednoznacznie rodzaj i ilość Produktów, zmierzające bezpośrednio do zawarcia Umowy Sprzedaży na odległość za pośrednictwem Sklepu Internetowego.</li>
</ol>
<h3 id="2-zasady-ogolne">§ 2 Zasady ogólne</h3>
<ol>
<li>Warunkiem złożenia Zamówienia w Sklepie Internetowym przez Kupującego jest zapoznanie
się z niniejszym Regulaminem i akceptacja jego postanowień w czasie realizacji Zamówienia.</li>
<li>Sklep internetowy www.aimer.pl. prowadzi sprzedaż detaliczną za pośrednictwem sieci Internet.</li>
<li>Wszystkie produkty oferowane w sklepie www.aimer.pl. są fabrycznie nowe, oryginalnie zapakowane, wolne od wad fizycznych i prawnych, oraz zostały legalnie wprowadzone na rynek polski.</li>
</ol>
<h3 id="3-skadanie-zamowien">§ 3 Składanie zamówień</h3>
<ol>
<li>Wszystkie ceny podane na stronach internetowych www.aimer.pl są cenami brutto podanymi w złotych polskich (zawierają podatek VAT). Podane ceny nie obejmują kosztów wysyłki.</li>
<li>Zamówienia są przyjmowane są przez stronę internetową, telefonicznie lub drogą mailową.</li>
<li>Zamówienia składane poprzez stronę internetową można składać 24 godziny na dobę, 7 dni w tygodniu przez cały rok. Zamówienia składane drogą telefoniczną lub mailową jest możliwe wyłącznie w godzinach podanych na witrynie Sklepu Internetowego.</li>
<li>Zamówienie jest skuteczne, jeśli Kupujący prawidłowo wypełni formularz zamówienia i prawidłowo poda dane kontaktowe w tym dokładny adresu, na który Towar ma być wysłany oraz numeru telefonu i adresu e-mail.</li>
<li>W wypadku gdy podane dane nie są kompletne, Sprzedający skontaktuje się z Kupującym. Jeśli kontakt z Kupującym nie będzie możliwy, Sprzedający ma prawo do anulowania Zamówienia.</li>
<li>Kupujący wyraża zgodę na wystawianie i przesyłanie drogą elektroniczną, na wskazany przez siebie adres e-mail, elektronicznego obrazu dokumentów rozliczeniowych.</li>
<li>Kupujący może skorzystać z opcji zapamiętania jego danych przez system w celu ułatwienia procesu składania kolejnego Zamówienia. W tym celu Kupujący powinien podać email i hasło, niezbędne do uzyskania dostępu do swojego konta. Hasło jest ciągiem znaków ustalanych przez Klienta. Hasło Klienta nie jest znane Sprzedającemu i Klient ma obowiązek zachowania go w tajemnicy i chronienia przed niepowołanym dostępem osób trzecich.</li>
<li>Po złożeniu przez Klienta skutecznego zamówienia, otrzyma on automatyczną odpowiedź ze sklepu potwierdzającą przyjęcie zamówienia.</li>
<li>Czas rozpoczęcia realizacji zamówienia pokrywa się z momentem wpływu wpłaty na rachunek bankowy podany w potwierdzeniu zamówienia w przypadku płatności przelewem lub momentem dokonania zamówienia w przypadku wyboru opcji
 „za pobraniem”.</li>
</ol>
<h3 id="4-koszty-i-termin-wysyki">§ 4 Koszty i termin wysyłki</h3>
<ol>
<li>Towar wysyłany jest pod adres wskazany w formularzu zamówienia lub podany telefonicznie albo drogą mailową. Sklep poinformuje Klienta niezwłocznie o nieprawidłowo wypełnionym formularzu zamówienia, który uniemożliwia dokonanie wysyłki lub może ją opóźnić.</li>
<li>Towar jest dostarczany za pomocą wyspecjalizowanych firm kurierskich lub za pośrednictwem Poczty Polskiej. W niektórych przypadkach istnieje możliwość odbioru osobistego towarów w siedzibie sprzedającego, lub pod adresem: ul. Spokojna 15/6, 30 - 054 Kraków.</li>
<li>Przesyłka dostarczona jest w czasie do 3 dni roboczych od zaksięgowania przelewu na koncie Sprzedającego. Jest to orientacyjny czas dostawy i dotyczy on zamówień z opcją przesyłki „za pobraniem”. Przy wyborze opcji płatności „przelew” do czasu podanego na stronach serwisu należy doliczyć czas zaksięgowania środków na rachunku bankowym sklepu (zwykle 1-2 dni robocze).</li>
<li>Kupujący jest obciążany kosztami dostawy (wysyłki) określonymi w cenniku transportu. Wysokość opłat uzależniona jest od rodzaju transportu oraz sposobu płatności. Kupujący może się zapoznać z cennikiem w każdej chwili klikając w link „cennik transportu”.</li>
</ol>
<h3 id="5-patnosci">§ 5 Płatności</h3>
<ol>
<li>Na każdy sprzedany towar wystawiamy rachunek, dostępny na życzenie Kupującego. </li>
<li>Płatność za zamówiony towar może nastąpić za pobraniem (przy odbiorze towaru) lub przelewem na konto
bankowe sklepu.
§ 6 Odbiór towaru</li>
<li>Dostawy są realizowane na terytorium Rzeczpospolitej Polskiej.</li>
<li>Przed odebraniem przesyłki z poczty lub od kuriera należy sprawdzić, czy opakowanie nie uległo uszkodzeniu w transporcie. W szczególności należy zwrócić uwagę na stan taśm lub plomb naklejonych na przesyłkę. W przypadku, gdy opakowanie przesyłki nosi znamiona uszkodzenia lub, gdy plomby (taśmy) są zerwane należy nie przyjmować przesyłki i w obecności kuriera sporządzić protokół szkody oraz skontaktować się jak najszybciej ze sprzedawcą w celu wyjaśnienia sprawy. Brak stwierdzenia nieprawidłowości w zakresie stanu ilościowego  lub jakościowego przesyłki przy odbiorze może mieć negatywny wpływ na wynik rozpatrzenia roszczeń Klienta z tytułu uszkodzenia czy okradzenia przesyłki w transporcie.</li>
</ol>
<h3 id="7-odstapienie-od-umowy">§ 7 Odstąpienie od umowy</h3>
<ol>
<li>Konsument, który zawarł umowę na odległość, ma prawo do odstąpienia od umowy bez podania przyczyny składając stosowne oświadczenie na piśmie. Jest ono jednak ograniczone w czasie i przysługuje jedynie przez 10 dni (podstawa prawna: art. 7 ust.1 ustawy z dnia  2 marca 2000 r. o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzona przez produkt niebezpieczny Dz.U. Nr 22, poz. 271 ze zm.). Termin ten jest terminem
nieprzekraczalnym i liczy się od dnia wydania rzeczy, a gdy umowa dotyczy świadczenia usługi – od dnia jej zawarcia. Do zachowania tego terminu wystarczy wysłanie oświadczenia przed jego upływem.</li>
<li>Wskazane w tym paragrafie prawo dotyczy sprzedaży konsumenckiej, a więc stosuje się wyłącznie do sprzedaży osobie fizycznej, która dokonuje zakupu w celu niezwiązanym z działalnością zawodową lub gospodarczą.</li>
<li>Zwracany w tym trybie towar zostanie przyjęty tylko i wyłącznie wtedy, gdy będzie odesłany w pełni kompletny, a sam produkt oraz akcesoria będą nieuszkodzone oraz nie będą nosiły śladów używania, świadczących o innym wykorzystywaniu produktu, niż tylko do celów jego sprawdzenia.</li>
<li>W przypadku skorzystania z prawa odstąpienia od umowy, zwracany towar należy odesłać  na własny koszt na adres siedziby Usługodawcy.</li>
<li>Do przesyłki zwrotnej należy dołączyć pisemne oświadczenie o odstąpieniu od umowy oraz numer konta, na jaki sklep ma zwrócić zapłatę.</li>
<li>W ciągu dwóch dni roboczych od otrzymania towaru wraz z oświadczeniem o odstąpieniu
 od umowy, sklep dokona sprawdzenia produktu. Jeżeli towar spełnia wymienione w punkcie 3 niniejszego paragrafu wymagania, w ciągu 7 dni roboczych, Sklep dokona zwrotu zapłaty na wskazane konto Klienta.</li>
</ol>
<h3 id="8-polityka-prywatnosci-oraz-ochrona-danych-osobowych">§ 8 Polityka prywatności oraz ochrona danych osobowych</h3>
<ol>
<li>Administratorem baz danych osobowych przekazywanych przez klientów sklepu internetowego w związku z zakupami jest Usługodawca.</li>
<li>Dane osobowe wykorzystywane są w celu realizacji umów sprzedaży, w zawiązku z tym mogą być przekazywane podmiotom odpowiedzialnym za dostawę zakupionych towarów do klienta oraz, w przypadku zakupów na raty, instytucjom kredytującym zakup. Klienci mają prawo dostępu do treści swoich danych oraz do ich poprawiania. Dane są przekazywane dobrowolnie.</li>
</ol>
<h3 id="9-postanowienia-koncowe">§ 9 Postanowienia końcowe</h3>
<ol>
<li>W sprawach nieuregulowanych niniejszym Regulaminem zastosowanie mają przepisy ustawy
z dnia 2 marca 2000 r. o ochronie niektórych praw konsumentów oraz o odpowiedzialności
 za szkodę wyrządzoną przez produkt niebezpieczny (Dz.U. 2000 nr 22 poz. 271 ze zm.), ustawy
z dnia 27 lipca 2002 r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie
Kodeksu cywilnego (Dz.U. 2002 nr 141 poz. 1176 ze zm.), ustawy z dnia 23 kwietnia 1964 r. -
Kodeks cywilny (Dz.U. 1964 nr 16 poz. 93 ze zm.).</li>
<li>Spory wynikające ze stosowaniem niniejszego Regulaminu i w związku z wykonywaniem
zawartych umów między Sklepem a Klientami, będą rozpatrywane przez Sąd właściwy według
przepisów o właściwości rzeczowej i miejscowej zgodnie z ustawą z dnia 17.11.1964 r. Kodeks
postępowania cywilnego (Dz.U. nr 43 poz. 296 ze. zm.).</li>
<li>Usługodawca zastrzega sobie prawo wprowadzania zmian do niniejszego Regulaminu
z zastrzeżeniem, iż do umów zawartych przed zmianą Regulaminu stosuje się wersję Regulaminu
obowiązującą w chwili złożenia zamówienia przez Klienta. </li>
<li>Data opublikowania regulaminu 25 marca 2014r.</li>
</ol>
