<h1>Cennik transportu</h1>

<p>
  <dl>
    <dt>Przesyłka kurierska</dt><dd>13 PLN</dd>
    <dt>Przesyłka kurierska pobraniowa</dt><dd>19 PLN</dd>
    <dt>Paczka pocztowa priorytetowa (max. 5 sztuk)</dt><dd>15 PLN</dd>
    <dt>List polecony priorytetowy (max. 1 sztuka)</dt><dd>10 PLN</dd>
  </dl>
</p>

<p class="long">
Każde zamówienie powyżej 100zł jest premiowane <strong>darmową wysyłką,</strong> dowolnym sposobem!
</p>
