.page-header-top {
  padding: 0 20px;
  height: 62px;
  line-height: 62px;
  background: asset-data-url('header-separator.png') repeat-x bottom;

  .content {
    max-width: 950px;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    padding: 0;
    position: absolute;

    a {
      color: #fff;
    }
  }

  ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 10px;
      letter-spacing: 1px;
      font-weight: bold;
      vertical-align: top;

      &.cart {
        color: #be9665;

        a {
          color: #fff;
          margin-right: 5px;
        }

        &:before {
          content: '';
          display: inline-block;
          width: 21px;
          height: 18px;
          margin-top: 1px;
          margin-right: 3px;
        }
      }

      a {
        color: #ffb351;
      }
    }
  } // ul
}
